footer
  .zerogrid.wrap-footer
    .row
      .col-8
        .footer-box
          h3.widget-title About Us
          p
            | Check out our useful articles and writing tips that can really help you in university. Also learn strategies to help you get the most out of the experience.
          p
            | Find something interesting for you on MyBlog!
          p
            | Mail me: m.stebko@gmail.com
      .col-8
        .footer-box
          h3.widget-title Recent Post
          ul
            li
              a(href='#') MOST VISITED COUNTRIES
            li
              a(href='#') 5 PLACES THAT MAKE A GREAT HOLIDAY
            li
              a(href='#') PEBBLE TIME STEEL IS ON TRACK TO SHIP IN JULY
      .col-8
        .footer-box
          h3.widget-title Tag Cloud
          a(href='#') animals
          a(href='#') cooking
          a(href='#') countries
          a(href='#') city
          a(href='#') children
          a(href='#') home
          a(href='#') likes
          a(href='#') photo
          a(href='#') link
          a(href='#') law
          a(href='#') shopping
          a(href='#') skate
          a(href='#') scholl
          a(href='#') video
          a(href='#') travel
          a(href='#') images
          a(href='#') love
          a(href='#') lists
          a(href='#') makeup
  .zerogrid.bottom-footer
    .row
      .col-24
        .bottom-social
          a(href='#')
            i.fa.fa-facebook
          a(href='#')
            i.fa.fa-instagram
          a(href='#')
            i.fa.fa-twitter
          a(href='#')
            i.fa.fa-youtube