
extends layout

block content
  section#container
    .wrap-container
      section.content-box.box-1
        .zerogrid
          .wrap-box
            .box-header
              h2 ABOUT US
            .box-content
              p
                | Check out our useful articles and writing tips that can really help you in university. 
                br
                | Also learn strategies to help you get the most out of the experience.
                br
                | Find something interesting for you on MyBlog! 
      section.content-box.box-style-1.box-4
        .zerogrid(style='width: 100%')
          .wrap-box
            each article in articles
              article
                .row
                  if article.intro.length > 0
                    != typogr(article.intro).typogrify()  
                  if article.hasMore
                    p.more
                      a.button(href=article.url) Read More
  block prepend footer
    div.links
      if prevPage
        a(href=prevPage.url) &laquo; Previous
      if nextPage
        a(href=nextPage.url) Next &raquo;

